In [1]:
import pandas as pd
import csv
import json
import datetime as dt
import os
from psaw import PushshiftAPI
import itertools
import sys

In [2]:
api = PushshiftAPI()

## first post date of each control user

In [11]:
df_authors = pd.read_csv(r'D:/ISI REU Python/PSAW Data/Authors Lists/top200_authors.csv')
authors_list = df_authors['Authors']
authors_set = set(authors_list)

In [12]:
file_paths_s = []

for root, directories, files in os.walk(r'D:/ISI REU Python/Authors PSAW (Copy)/'):
    for filename in files:
        filepath = os.path.join(root, filename)
        if '_submissions.json' in filepath:
            new_filepath = filepath.replace(r'D:/ISI REU Python/Authors PSAW (Copy)/','').replace('_submissions.json','')
            file_paths_s.append(new_filepath)

file_paths_s = set(dict.fromkeys(file_paths_s))

In [13]:
file_paths_c = []

for root, directories, files in os.walk(r'D:/ISI REU Python/Authors PSAW (Copy)/'):
    for filename in files:
        filepath = os.path.join(root, filename)
        if '_comments.json' in filepath:
            new_filepath = filepath.replace(r'D:/ISI REU Python/Authors PSAW (Copy)/','').replace('_comments.json','')
            file_paths_c.append(new_filepath)

file_paths_c = set(dict.fromkeys(file_paths_c))

In [14]:
file_paths = file_paths_s.intersection(file_paths_c)
set_200authors = authors_set.intersection(file_paths)

In [15]:
df_GreatApes = pd.read_csv(r'D:/ISI REU Python/PSAW Data/Full Data/GreatApes_authors.csv',names=['Authors'])
set_GreatApes = set(df_GreatApes['Authors'])

In [16]:
list_200authors = list(set_200authors - set_GreatApes)

### filter out users who haven't used a hate word

In [17]:
hate_words = pd.read_csv(r'D:/ISI REU Python/coontown-manually-filtered-hate-words.csv')

In [19]:
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

hate_users = []

for author in list_200authors:
    vernacular = set()
    
    file_name = "D:/ISI REU Python/Authors PSAW (Copy)/"+author+"_submissions.json"
#     df_s = pd.read_csv(file_name)
#     for line in list(df_s['selftext']):
#         vernacular.add(line.split())
#     for line in list(df_s['title']):
#         vernacular.add(line.split())
    with open(file_name,'r') as json_file:
        for line in json_file:
            new_line = json.loads(line)
            selftext = new_line['selftext']
            if ('selftext' in new_line) and (new_line['selftext'] != None):
                for ele in selftext:
                    if ele in punc:
                        selftext = selftext.replace(ele, "")
                for word in selftext.split():
                    vernacular.add(word)
            title = new_line['title']
            if ('title' in new_line) and (new_line['title'] != None):
                for ele in title:
                    if ele in punc:
                        title = title.replace(ele,"")
                for word in title.split():
                    vernacular.add(word)
    
    file_name = "D:/ISI REU Python/Authors PSAW (Copy)/"+author+"_comments.json"
#     df_c = pd.read_csv(file_name)
#     for line in list(df_s['body']):
#         vernacular.add(line.split())
    with open(file_name,'r') as json_file:
        for line in json_file:
            new_line = json.loads(line)
            body = new_line['body']
            if ('body' in new_line) and (new_line['body'] != None):
                for ele in body:
                    if ele in punc:
                        body = body.replace(ele,"")
                for word in body.split():
                    vernacular.add(word)
    
#     print(vernacular)
    for word in vernacular:
        if word in hate_words:
            hate_users.append(author)

In [54]:
print(hate_users)

['advancedatheist', 'AsianGirl69420', 'BaconCatBug', 'accountt1234', 'AegonTheDragon', 'AR96', '75000_Tokkul', 'asmosdeus', 'Andy_p88', 'BerlinSpiderRocket', 'aDildoAteMyBaby', 'BF8211', 'article10ECHR', 'aviary83', 'ARealLibertarian', 'AltaEgoNerd', 'AlexiPwns', 'anymaninamerica', 'Banksykern', 'benjammin9292', 'avian_buddha', 'average_user_421', 'Aziral', 'anubgek', '1Cu14Cu', 'andrewsj1', 'Aquamaniac7', 'Allergic2Antisemites', 'AssuredlyAThrowAway', 'Ant_Sucks', 'ArcherKSI', 'Bert-Goldberg', 'Asis_450', '4LostSoulsinaBowl', '-Damien-', '8works', 'BedWedOrBehead', 'amanitus', 'abigfatphoney', 'Anal_Justice_League', '5th_Law_of_Robotics', 'albro1', 'AlexJuhu', 'Abandon-All-Hope', 'Ago_Solvo', 'ANAL_ANARCHY', 'AntiHasbaraUnit', '360BRoScope420', '27589592958385729', 'americanslang59', '15rthughes', 'ArtGamer', 'banmeagainreddit', 'AllPurposeNerd', 'A_Medium_Pizza', 'Bassoon_Commie', 'acacia-club-road', 'AntonioOfVenice', '2016pantherswin', 'Atlas_B_Shruggin', 'Avery_Richman', 'Baconlightning', 'antoine_chekov', 'BadgerBadger8264', 'BasediCloud', '2PantsLady', 'Alienm00se', 'BananaMeGustaII', 'Arfmeow', 'acratus', 'App1e5auce', 'ACraftyApe', 'AiogbZuyzn', '10BIT', 'ahanix1989', '30plus1', 'alllie', 'AN4RCHID', 'Avron12', 'Anton_Lemieux', 'AverageTheJam', 'arrow74', 'Arxl', 'abertsa', 'andytuba', '100skylines', 'Becomelaced', 'AcradiousPCMR', 'Bhazor', 'Adamex99', '-SnowMan-', 'Backupusername', 'Barely_Intrepid', 'ATN-Antronach', 'ApathyPyramid', 'ArkOrb', 'Ahseyo', 'baconbum', 'bam2_89', 'AssassinAbra', 'A_Wyatt_Guy', 'aaomalley', '1amathrowaway', '---CitationNeeded---', 'Ayy_2_Brute', '-R-TRAIN-', 'BERTRAMUS', 'BestRedditGoy', 'aidsfarts', '-INFOWARS-', 'AristotleJr', '66xsseldoG', '3K-calories', 'Baron-G', 'atomicllama1', '1randomguy', 'acesandspades888', 'Amos_Quito', 'Autsin', 'BevoGenocide', 'AxlWRose', 'AttractiveMeat', 'ArkansasTheAdjective', 'Amunium', 'Badapadawow', 'Apdodopa4', 'Andewz111', 'ArchangellePedophile', 'biga29', 'agentf90', 'bastardfish', '09112001', 'BigDickRichie', 'Ardvarkeating101', 'Balthanos', 'a_horrible_person', 'arbili', 'Alpha-as-fuck', 'BaKdGoOdZ0203', 'adidasaids', 'asoupo', 'aresroth8', 'aj_thenoob', 'thugl1fe', '9DAN2', 'bigDean636', '121381', 'BadGoyWithAGun', 'anicolette', 'antaryon', 'Animal31', 'AnOddSeriesOfTubes', 'ban_collector', 'BaronSathonyx']

### find all important characteristics

In [56]:
df_gaFirst = pd.read_csv(r'D:/ISI REU Python/Analyzed Data/GreatApes_firstpost.csv')

In [58]:
df_matched = pd.read_csv(r'D:/ISI REU Python/Analyzed Data/matched_firstpost.csv')

In [68]:
df_gaFirst = df_gaFirst.rename(columns={'Username':'Username_x','Time (First Post)':'Time (First Post in GA)','Datetime (First Post)':'Datetime (First Post in GA)'})

In [69]:
df_gaFirst

,Username_x,Time (First Post in GA),Datetime (First Post in GA)
0,Invalid_Target,1374125927,2013-07-17 22:38:47
1,Finn1916,1377063383,2013-08-20 22:36:23
2,RAPT0RJESUS,1377127936,2013-08-21 16:32:16
3,AlSharptonIsWorthles,1377205625,2013-08-22 14:07:05
4,Dayquando,1377212671,2013-08-22 16:04:31
...,...,...,...
3289,purple_monkey58,1436945839,2015-07-15 00:37:19
3290,evolapatient,1436968777,2015-07-15 06:59:37
3291,GoybeSmaap,1437097935,2015-07-16 18:52:15
3292,pppk3125,1437135819,2015-07-17 05:23:39
3293,Baryshnikov_Rifle,1437578559,2015-07-22 08:22:39

In [71]:
df_merged = df_gaFirst.merge(df_matched, on='Username_x')

In [72]:
df_merged

,Username_x,Time (First Post in GA),Datetime (First Post in GA),Unnamed: 0,Date (First Post),Username_y
0,Dayquando,1377212671,2013-08-22 16:04:31,442,2013-06-22,abbys23
1,L15t3r0f5m3g,1377228054,2013-08-22 20:20:54,571,2010-04-26,aDildoAteMyBaby
2,nakedcows,1378607851,2013-09-07 19:37:31,89,2013-01-19,Atrapenna
3,killyourego,1379102885,2013-09-13 13:08:05,450,2012-09-02,AProjection
4,killyourego,1379102885,2013-09-13 13:08:05,451,2012-09-02,Ardvarkeating101
...,...,...,...,...,...,...
559,conspiracy_thug,1433999747,2015-06-10 22:15:47,551,2012-03-08,Angelus333
560,Icanus,1435087113,2015-06-23 12:18:33,526,2009-04-01,asmosdeus
561,kill__all__hippies,1435595912,2015-06-29 09:38:32,431,2015-03-16,Arzu1982
562,kill__all__hippies,1435595912,2015-06-29 09:38:32,432,2015-03-16,BHOP_TO_NEUROFUNK
563,evolapatient,1436968777,2015-07-15 06:59:37,586,2015-01-19,13mera7

In [76]:
df_merged['Date (First Post in GA)'] = pd.to_datetime(df_merged['Datetime (First Post in GA)']).dt.date

In [77]:
df_merged

,Username_x,Time (First Post in GA),Datetime (First Post in GA),Unnamed: 0,Date (First Post),Username_y,Date (First Post in GA)
0,Dayquando,1377212671,2013-08-22 16:04:31,442,2013-06-22,abbys23,2013-08-22
1,L15t3r0f5m3g,1377228054,2013-08-22 20:20:54,571,2010-04-26,aDildoAteMyBaby,2013-08-22
2,nakedcows,1378607851,2013-09-07 19:37:31,89,2013-01-19,Atrapenna,2013-09-07
3,killyourego,1379102885,2013-09-13 13:08:05,450,2012-09-02,AProjection,2013-09-13
4,killyourego,1379102885,2013-09-13 13:08:05,451,2012-09-02,Ardvarkeating101,2013-09-13
...,...,...,...,...,...,...,...
559,conspiracy_thug,1433999747,2015-06-10 22:15:47,551,2012-03-08,Angelus333,2015-06-10
560,Icanus,1435087113,2015-06-23 12:18:33,526,2009-04-01,asmosdeus,2015-06-23
561,kill__all__hippies,1435595912,2015-06-29 09:38:32,431,2015-03-16,Arzu1982,2015-06-29
562,kill__all__hippies,1435595912,2015-06-29 09:38:32,432,2015-03-16,BHOP_TO_NEUROFUNK,2015-06-29
563,evolapatient,1436968777,2015-07-15 06:59:37,586,2015-01-19,13mera7,2015-07-15

In [22]:
hate_words = pd.read_csv(r'D:/ISI REU Python/coontown-manually-filtered-hate-words.csv')
hate_words.columns = ['Hate Words']

hate_words = hate_words['Hate Words'].tolist()
hate_words = list(set(hate_words) - set(['nigs','sheboons','groids','kikes','coons','niggers','faggots']))

In [23]:
def word_counter(author, post):
    hateword_counter = 0
#     counter = 0
#     global df_in
#     global df_out
#     df_in = pd.DataFrame(columns=["Username","Time",'chimpout', 'dey', 'negroes', 'whitey', 'sheboon', 'nuffin', 'coon', 'groid', 'gibs', 'nig', 'tnb', 'faggot', 'ghetto', 'dindu', 'kike'])
#     df_out = pd.DataFrame(columns=["Username","Time",'chimpout', 'dey', 'negroes', 'whitey', 'sheboon', 'nuffin', 'coon', 'groid', 'gibs', 'nig', 'tnb', 'faggot', 'ghetto', 'dindu', 'kike'])
    
    if post == 'submission':
        if new_line['title'] != None:
            hateword_counter += new_line['title'].count('chimpout')
            hateword_counter += new_line['title'].count('dey')
            hateword_counter += new_line['title'].count('negroes')
            hateword_counter += new_line['title'].count('whitey')
            hateword_counter += new_line['title'].count('sheboon')
            hateword_counter += new_line['title'].count('nuffin')
            hateword_counter += new_line['title'].count('coon')
            hateword_counter += new_line['title'].count('groid')
            hateword_counter += new_line['title'].count('gibs')
            hateword_counter += new_line['title'].count('nig')
            hateword_counter += new_line['title'].count('tnb')
            hateword_counter += new_line['title'].count('faggot')
            hateword_counter += new_line['title'].count('ghetto')
            hateword_counter += new_line['title'].count('dindu')
            hateword_counter += new_line['title'].count('kike')
#             counter += len(new_line['title'].split())
        if new_line['selftext'] != None:
            hateword_counter += new_line['selftext'].count('chimpout')
            hateword_counter += new_line['selftext'].count('dey')
            hateword_counter += new_line['selftext'].count('negroes')
            hateword_counter += new_line['selftext'].count('whitey')
            hateword_counter += new_line['selftext'].count('sheboon')
            hateword_counter += new_line['selftext'].count('nuffin')
            hateword_counter += new_line['selftext'].count('coon')
            hateword_counter += new_line['selftext'].count('groid')
            hateword_counter += new_line['selftext'].count('gibs')
            hateword_counter += new_line['selftext'].count('nig')
            hateword_counter += new_line['selftext'].count('tnb')
            hateword_counter += new_line['selftext'].count('faggot')
            hateword_counter += new_line['selftext'].count('ghetto')
            hateword_counter += new_line['selftext'].count('dindu')
            hateword_counter += new_line['selftext'].count('kike')
#             counter += len(new_line['selftext'].split())
#         if new_line['subreddit'] == subreddit:
#         if 'created_utc' in new_line.keys():
#             df_in = df_in.append({"Username":author,"Time":datetime.datetime.fromtimestamp(new_line['created_utc']),"Hate Words":hateword_counter},ignore_index=True)
#         else:
#             if 'created_utc' in new_line.keys():
#                 df_out = df_out.append({"Username":author,"Time":datetime.datetime.fromtimestamp(new_line['created_utc']),"Hate Words":hateword_counter},ignore_index=True)
    if post == 'comment':
        if new_line['body'] != None:
            hateword_counter += new_line['body'].count('chimpout')
            hateword_counter += new_line['body'].count('dey')
            hateword_counter += new_line['body'].count('negroes')
            hateword_counter += new_line['body'].count('whitey')
            hateword_counter += new_line['body'].count('sheboon')
            hateword_counter += new_line['body'].count('nuffin')
            hateword_counter += new_line['body'].count('coon')
            hateword_counter += new_line['body'].count('groid')
            hateword_counter += new_line['body'].count('gibs')
            hateword_counter += new_line['body'].count('nig')
            hateword_counter += new_line['body'].count('tnb')
            hateword_counter += new_line['body'].count('faggot')
            hateword_counter += new_line['body'].count('ghetto')
            hateword_counter += new_line['body'].count('dindu')
            hateword_counter += new_line['body'].count('kike')
#             counter += len(new_line['body'].split())
#         if new_line['subreddit'] == subreddit:
#             if 'created_utc' in new_line.keys():
#                 df_in = df_in.append({"Username":author,"Time":datetime.datetime.fromtimestamp(new_line['created_utc']),"Hate Words":hateword_counter},ignore_index=True)
#         else:
#             if 'created_utc' in new_line.keys():
#                 df_out = df_out.append({"Username":author,"Time":datetime.datetime.fromtimestamp(new_line['created_utc']),"Hate Words":hateword_counter},ignore_index=True)

In [24]:
# df_author = pd.DataFrame(columns = ['Username','Total Score','Total Posts','Average Hate Words'])
# df_author.to_csv(r'D:/ISI REU Python/Analyzed Data/Author Data/control_details.csv')

In [79]:
for author in hate_users:
    score = 0
    total_posts = 0
    
    df = pd.DataFrame(columns = ['Created UTC','Num Hate Words'])
#     exec('''df_'''+author+''' = pd.DataFrame(columns = ['Created UTC','Num Hate Words'])''')
    
    first_index = df_merged.index[df_merged['Username_y'] == author].tolist()
    for i in first_index:
        int_first = int(i)
        break
    
    file_name = "D:/ISI REU Python/Authors PSAW (Copy)/"+author+"_submissions.json"
    with open(file_name,'r') as json_file:
        for line in json_file:
            created_utc = []
            new_line = json.loads(line)
            if int(new_line['created_utc']) < int(df_merged['Time (First Post in GA)'].loc[int_first]):
#                 print('yes')
                score += int(new_line['score'])
                total_posts += 1
#                 created_utc.append(new_line['created_utc'])  # to eventually calculate posts per day
                hate = word_counter(author,'submission')
                
                df = df.append({'Created UTC':new_line['created_utc'],'Num Hate Words':hate},ignore_index=True)
            
    file_name = "D:/ISI REU Python/Authors PSAW (Copy)/"+author+"_comments.json"
    with open(file_name,'r') as json_file:
        for line in json_file:
            created_utc = []
            new_line = json.loads(line)
            if int(new_line['created_utc']) < int(df_merged['Time (First Post in GA)'].loc[int_first]):
#                 print('yes')
                score += int(new_line['score'])
                total_posts += 1
#                 created_utc.append(new_line['created_utc'])  # to eventually calculate posts per day
                hate = word_counter(author,'comment')
                
                df = df.append({'Created UTC':new_line['created_utc'],'Num Hate Words':hate},ignore_index=True)
            
    print(df)
    
#     exec('''total_score = df_'''+author+'''['Score'].sum(axis=1)''')
#     exec('''all_total_posts = df_'''+author+'''['Total Posts'].sum(axis=1)''')
#     exec('''df_'''+author_''' = df_'''+author+'''.groupby('Created UTC').mean()''')
    df = df.groupby('Created UTC').mean()
    avg_hate = df['Num Hate Words'].mean(axis=1)
    df_author = pd.DataFrame({'Username':author,'Total Score':score,'Total Posts':total_posts,'Average Hate Words':avg_hate})
    
    new_file_name = r'D:/ISI REU Python/Analyzed Data/Author Data/control_details.csv'
    df_author.to_csv(new_file_name,mode='a',header=None)
    
    break

     Created UTC  Num Hate Words
0   1.348671e+09             NaN
1   1.358093e+09             NaN
2   1.378681e+09             NaN
3   1.240718e+09             NaN
4   1.345524e+09             NaN
5   1.345843e+09             NaN
6   1.345843e+09             NaN
7   1.346044e+09             NaN
8   1.349880e+09             NaN
9   1.353190e+09             NaN
10  1.371443e+09             NaN
11  1.371444e+09             NaN
12  1.371444e+09             NaN
13  1.377233e+09             NaN
14  1.377233e+09             NaN
15  1.377234e+09             NaN
16  1.377285e+09             NaN
17  1.377320e+09             NaN
18  1.377748e+09             NaN
19  1.378688e+09             NaN
20  1.378689e+09             NaN
21  1.378690e+09             NaN
22  1.379697e+09             NaN
23  1.379703e+09             NaN

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [46]:
df

Empty DataFrame
Columns: [Created UTC, Num Hate Words]
Index: []